<button type="button" (click)="goBack()">Back</button>

<h2>Document: {{query}}</h2>

<div *ngIf="sections && !isError" class="result">
  <h3>Top Level Sections</h3>

  <ul *ngIf="sections.length > 0">
    <li *ngFor="let section of sections">{{section}}</li>
  </ul>

  <p *ngIf="sections.length === 0">This is emptiness.</p>
</div>