<h2>Search Wikipedia</h2>

<form (submit)="submit()">
  <input type="text" name="query" [(ngModel)]="query">
  <select name="language" [(ngModel)]="language">
    <option value="en">English</option>
    <option value="fr">French</option>
  </select>
  <button type="submit">Search</button>
</form>
